site_name: Open Parse
site_author: Sergey Filimonov
repo_url: "https://github.com/Filimoa/open-parse/"
repo_name: "open-parse"
site_url: "https://github.com/Filimoa/open-parse/"
dev_addr: "localhost:8001"
theme:
  name: material
  features:
    - content.code.copy
  palette:
    - scheme: default
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
markdown_extensions:
  - abbr
  - admonition
  - pymdownx.details
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
  - pymdownx.tasklist:
      custom_checkbox: true

nav:
  - Home: index.md
  - Processing:
      - Overview: processing/overview.md
      - Enabling OCR: processing/ocr.md
      - Parsing Tables:
          - Overview: parsing-tables/overview.md
          - Unitable: parsing-tables/unitable.md
          - Pymupdf: parsing-tables/pymupdf.md
          - Table Transformer: parsing-tables/table-transformers.md
      - Advanced:
          - Customization: processing/customization.md
  - Serializing Results: serialization.md
  - Visualization: visualization.md

plugins:
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true
  - mkdocstrings:
      handlers:
        python:
          options:
            members_order: alphabetical
            allow_inspection: true
            show_bases: true
